.mainHeader{
    height:100%;
    background-color: white;
    width: 100%;
    max-width: 100%;
    padding:25px 0px;
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-around;
    box-shadow:0px 4px 20px rgba(0, 0, 0, 0.15);
}
.header{
    width:100%;
    height: 100%;
}
.links{
    padding-top: 30px;
    
}
.contact{
    display: flex;
    align-items: center;
}
.ham{
    display: none;
    height:25px;
    width:35px;
    position: absolute;
    right: 30px;
    top:50px;
}
.contactCard{
    height: 100%;
    width:400px;
    box-shadow:0px 4px 20px rgba(0, 0, 0, 0.15);
    margin-left:20px;
    margin-right: auto;
    padding:30px 30px;
    background:linear-gradient(180deg, rgba(230, 246, 255, 0.6) 41.47%, rgba(255, 255, 255, 0) 100%)
}
.backdrop{
    width: 100%;
    height: 120vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
.sidedrawer{
    height: 120vh;
    width: 69%;
    background-color: #E6F6FF;
    position:fixed;
    top:0px;
    right: 0px;
    z-index: 2;
    display:none;
    transition: 1s ease;
   
}
.sidedrawer.show{
  background-color:  #E6F6FF;
   
  display: block;
  
  z-index: 3;

}
.firstsidelink{
    display: flex;
    margin-top: 130px;
    font-size: 20px;
    align-items: center;
    justify-content: flex-end;
    color:  #13375B;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #13375B ;
}
.sidelink{
    display: flex;
    
    font-size: 20px;
    align-items: center;
    justify-content:flex-end;
    color:  #13375B;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #13375B ;
}
@media(max-width:700px){
    .links{
        display: none;
    }
    .mainHeader{
        justify-content: left;
    }
    .contact{
        display: none;
    }
    .ham{
        display: block;
    }
    .contactCard{
        margin-left: auto;
    }
}
@media(max-width:470px){
    .contactCard{
        width:350px;
    }
}
@media(max-width:400px){
    
    .ham{
        right:20px;
    }
    .sidelink{
        font-size: 18px;
    }
    .firstsidelink{
        font-size: 18px;
    }
    .contactCard{
        width:300px;
    }
}